<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Metrics Report</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<section class="ftco-section">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h1 class="heading-section">Metrics Report</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <p th:text="'Local time: ' + ${dateTimeLocal}">
                </p>
            </div>
            <div class="col-md-4">
                <p th:text="'UTC time: ' + ${dateTimeUTC}">
                </p>
            </div>
            <div class="col-md-4">
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="table-wrap">
                <table class="table table-bordered table-dark table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Existing Metrics</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="existingAlgorithm, iterStat : ${existingAlgorithmList}">
                        <td th:text="${iterStat.count}"></td>
                        <td th:style="'padding-right: 1000px;'">
                            <span th:text="${existingAlgorithm['algorithm']}"
                                  th:title="${existingAlgorithm['prefixedMetric']}"></span>
                            <br/>
                            <span th:text="'Timestamp UTC: ' + ${existingAlgorithm['timestampUTC']}"
                                  th:style="'color: ' + ${existingAlgorithm['color']}"></span>
                            <br/>
                            <span th:text="'Timestamp Local: ' + ${existingAlgorithm['timestampLocal']}"
                                  th:style="'color: ' + ${existingAlgorithm['color']}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-md-4">
            <div class="table-wrap">
                <table class="table table-bordered table-dark table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Non-Existing Metrics</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="nonExistingAlgorithm, iterStat : ${nonExistingAlgorithms}">
                        <td th:text="${iterStat.count}"></td>
                        <td style="padding-right:1000px" th:text="${nonExistingAlgorithm}"
                            th:title="${prefix + nonExistingAlgorithm}"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="table-wrap">
                <table class="table table-bordered table-dark table-hover">
                    <thead>
                    <tr>
                        <th>#</th>

                        <th>Existing Metrics with Different Prefix</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prefixEntry, prefixIterStat : ${differentPrefixAlgorithmList}">
                        <td th:text="${prefixIterStat.count}"></td>
                        <td style="padding-right: 1000px;">
                            <span th:text="${prefixEntry['algorithm']}" th:title="${prefixEntry['metricResponse']}"></span>
                            <br/>
                            <span th:text="'Timestamp UTC: ' + ${prefixEntry['timestampUTC']}"
                                  th:style="'color: ' + ${prefixEntry['color']}"></span>
                            <br/>
                            <span th:text="' Timestamp Local: ' + ${prefixEntry['timestampLocal']}"
                                  th:style="'color: ' + ${prefixEntry['color']}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>
